#content-section{
    width: 100%;
    height: auto;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    align-items: start;
    justify-items: stretch;

    background-color: var(--maingColorD);

    backdrop-filter: blur(6px);
}

.section, #contact-section{
    padding-top: 65px;
    padding-bottom: 65px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    gap: 32px;
    row-gap: 90px; 

    overflow: hidden;
}

#contact-section{
    padding: 32px;

    flex-wrap: wrap-reverse;
}

#contact-section div:nth-child(n){
    min-width: 340px;
    flex: 1;
}

#bottom-phrase{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

    transform: rotate(-12deg);

    color: white;
    font-size: 20px;
    font-weight: bold;
}

.info-bubble{
    padding: 8px;   

    border-radius: var(--bradius);
    background-color: white;
    color: var(--maingColorD);
}

#contact-info{
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
}

.sectionXY{
    width: 92%;
    height: 600px;


    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);

    align-items: center;
    justify-items: center;
}

.gif-img{
    height: 190px;
    object-fit: scale-down;
    justify-self: center;
}

.image-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    gap: 32px;
    color: white;

    flex: 1;
    min-width: 400px;
    text-align: center;
}

.image-desc p{
    width: 65%;
}

.info-box{
    width: 320px;
    background-color: var(--maingColorD);
    color: white;

    box-sizing: border-box;
    padding: 26px;


    /* text-align: justify; */
    transform: translateX(-500%);
    translate: -500%, 0;
}

#box1{
    border-radius: 6px 55px 6px 55px;
}

#box2{
    background-color: transparent;
    border: 4px solid var(--maingColorD);
    color: var(--maingColorD);
    border-radius: 55px 6px  55px 6px;
}

#contact-text{
    font-size: 28px;
    font-weight: bold;
    color: white;
}

#icon-design{ animation-delay: 400ms; }
#icon-manage{ animation-delay: 800ms; }

#text-idea{ animation-delay: 200ms; opacity: 0; }
#text-design{ animation-delay: 600ms; opacity: 0; }
#text-manage{ animation-delay: 1000ms; opacity: 0; }


@media(max-width: 1122px) {
    #bottom-phrase{
        font-size: 18px;
    
        transform: rotate(0);
        align-self: flex-end;
        display: flex;
        flex-direction: column;
    }
}