html, body, .app{
    width: 100%;
    height: auto;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: 'Verdana';

    --maingColorD: rgba(24, 24, 24, 0.94);
    --mainColorL: rgba(24, 24, 24, 0.88);
    --invertColor: rgba(255, 255, 255, 0.88);

    --bradius: 6px;

    scroll-behavior: smooth;

    background-image:  url("../imgs/backgrounds/code.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

strong{
    font-weight: normal;
}

span{
    display: flex;
    align-items: center;
    gap: 12px;
}

a{
    text-decoration: none;
}